# Boolean Variables, Boolean Logic

## Boolean type

Required Reading:
* Section 5.2 (Boolean expressions): http://greenteapress.com/thinkpython2/html/thinkpython2006.html#sec55


Recommended reading: 
* Section 7.1 (Boolean Values and Boolean Expressions): https://runestone.academy/runestone/books/published/thinkcspy/Selection/BooleanValuesandBooleanExpressions.html
* Section 7.2 (Logical operators): https://runestone.academy/runestone/books/published/thinkcspy/Selection/Logicaloperators.html

## Booleans
Booleans represent the truth or success of a statement, and are commonly used for branching and checking status in code.

They can take two values: *True* or *False*.

In [ ]:
bool_1 = True 
bool_2 = False

print(bool_1)
print(bool_2)

print (type(bool_1)) # print the type of the bool_1 variable
print (type(bool_2)) # print the type of the bool_2 variable

### Boolean Operations:
Frequently, one wants to combine or modify boolean values. Python has several operations for just this purpose:

**not** a: returns the opposite value of a.
a **and** b: returns true if and only if both a and b are true.
a **or** b: returns true either a or b are true, or both.

Boolean operations in Python are standad Boolean (logic) operations. See the slides on Boolean logic.

### Comparison operators: ==, !=, <=, etc.
* X == Y
* Pay attention to the double equality sign (==)
* Assignment (=) vs comparison (==)

In [ ]:
a = True
b = False

print (a and b)

In [ ]:
print (a or b)

In [ ]:
print (not a)

#### Relational operations
If the expression on the left is a different numerical type than the expression on the right, everything is converted to float.

In [ ]:
x = 6
y = 7.8
print (x < y)

In [ ]:
print (2*x < y)

#### String Comparison
Two strings are equal if they have the same length and agree in each position.

In [ ]:
var = 'abc'
print (var == 'abc')

In [ ]:
print (var == 'Abc')

In [ ]:
print (var == 'abc ')

#### Assignment vs Comparison
* Assignment: single equality sign (=)
* Comparison: double equality sign (==)

In [ ]:
print (var) # pay attention that comparison does not change the variable value.

In [ ]:
print ('cat' < 'dog')

In [ ]:
var1 = 5
var2 = 6
var3 = 7

#### Consider the outcomes of the following examples

In [ ]:
print (var1 + var2 == 11)

In [ ]:
print (var2 + var3 == 13)

In [ ]:
print (var1 + var2 == 11 and var2 + var3 == 13)

In [ ]:
print (var1 + var2 == 12 and var2 + var3 == 13)

In [ ]:
print (var1 + var2 == 12 or var2 + var3 == 13)

In [ ]:
print ( (not var1 + var2 == 12) or (    var2 + var3 == 14) )

#### Exercise 1
Complete the exercises below. Try to find the outcome before executing the cell.

In [ ]:
# Ex. 1.a
True and True

In [ ]:
# Ex. 1.b
False and True

In [ ]:
# Ex. 1.c
1 == 1 and 2 == 1

In [ ]:
# Ex. 1.d
"test" == "test"

In [ ]:
# Ex. 1.e
"test" == "testing"

In [ ]:
# Ex. 1.f
1 == 1 or 2 != 1

In [ ]:
# Ex. 1.g
True and 1 == 1

In [ ]:
# Ex. 1.h
False and 0 != 0

In [ ]:
# Ex. 1.i
not (True and False)

In [ ]:
# Ex. 1.j
not (1 == 1 and 0 != 1)

In [ ]:
# Ex. 1.k
1 == 1 and (not ("testing" == 1 or 1 == 0))

In [ ]:
# Ex. 1.l
3 == 3 and (not ("testing" == "testing" or "Python" == "Fun"))

### Additional Exercises for Variables

In [ ]:
# 1. What will be the result of running this cell? Please, explain. 

True = 'True'

In [ ]:
# 2. What will be the result of running this cell? Please, explain. 

True == 'True'

In [ ]:
# 3. What will be the result of running this cell? Please, explain. 

(3 < 5) == True

In [ ]:
# 4. What will be the result of running this cell? Please, explain. 
# this is a tricky one

3 < 5 == True

In [ ]:
# 5. What will be the result of running this cell? Please, explain. 
# This exercise might help you to explain the results in ex. 4

a = 5
3 < a < 6

In [ ]:
# 6. What will be the result of running this cell? Please, explain. 
# This exercise might help you to explain the results in ex. 4 and ex. 5

a = 5
(3 < a) and (a < 6)

In [ ]:
# 7. Introduce variable calories. Assign its value to 23
# The calories variables stores the information about how many calories
# you burn while running on a treadmill for 2 minutes. 
#
# Output, how many calories you will burn running for
# 10 minutes
# 20 minutes
# 30 minutes