## Solutions for `while` exercises

What to pay attention to: 
1. nested staments (loops within loops and selections within loops);
2. use of `break`;
3. loop counter can be changed differently (not necessarily incremented by 1).

###Ex. 1.1

Write a Python script that prints natural numbers in reverse order from n to 1
using WHILE loop.

In [1]:
n = 10  # the natural number that set us the limit on the number
        # of while loop iterations.
i = 1
while i <= 10:
  print (i)
  i += 1  # -= addition-assignment
          # https://python-reference.readthedocs.io/en/latest/docs/operators/addition_assignment.html

1
2
3
4
5
6
7
8
9
10

###Ex. 1.2

Write a Python script that prints natural numbers in reverse order from n to 1
using WHILE loop.

In [2]:
n = 7  # the natural number that set us the limit on the number
        # of while loop iterations.

i = 7
while i >= 1:
  print (i)
  i -= 1 # -= subtraction-assignment
          # https://python-reference.readthedocs.io/en/latest/docs/operators/subtraction_assignment.html

7
6
5
4
3
2
1

###Ex. 1.3

Write a Python script that prints all even numbers from 1 to n using WHILE
loop.

In [3]:
# version 1

n = 7  # the natural number that set us the limit on the number
        # of while loop iterations.

i = 2
while i <= n:
  print (i)
  i += 2

2
4
6

In [4]:
# version 2

n = 7  # the natural number that set us the limit on the number
        # of while loop iterations.

i = 1
while i <= n:
  if (i%2 == 0):
    print (i)
  i += 1

2
4
6

### Ex. 1.4
Write a Python script that computes the sum of all natural numbers from 1 to
n using WHILE loop.

In [5]:
# version 1

n = 7  # the natural number that set us the limit on the number
        # of while loop iterations.

sum_num = 0
i = 1
while i <= n:
  sum_num += i
  i += 1 

print ("Even numbers from 1 to", n, ":", sum_num)

Even numbers from 1 to 7 : 28

### Ex. 2.1
Write a Python script that computes the sum of all natural numbers from 1 to
n using WHILE loop.

In [6]:
def sum_of_two(num1, num2):
  return (num1+num2)

In [7]:
# Ex. 2.1 version 1
# using the user defined function sum_of_two

continueInput = True
while continueInput:
  a = int(input("Number a = "))
  b = int(input("Number b = "))
  print ("a+b =", sum_of_two(a,b))
  while True:
    response = input("Do you want to add up two numbers (yes / no)\n\t")
    if (response == "no"):
      continueInput = False
      break
    elif (response == "yes"):
      break
    else:
      print ("Incorrect input")

Number a = 3
Number b = 4
a+b = 7
Do you want to add up two numbers (yes / no)
	yes
Number a = 6
Number b = 7
a+b = 13
Do you want to add up two numbers (yes / no)
	YES
Incorrect input
Do you want to add up two numbers (yes / no)
	yes
Number a = 7
Number b = 8
a+b = 15
Do you want to add up two numbers (yes / no)
	no

In [8]:
# Ex. 2.1 version 2
# without using the user defined function sum_of_two

continueInput = True
while continueInput:
  a = int(input("Number a = "))
  b = int(input("Number b = "))
  print ("a+b =", a+b)
  while True:
    response = input("Do you want to add up two numbers (yes / no)\n\t")
    if (response == "no"):
      continueInput = False
      break
    elif (response == "yes"):
      break
    else:
      print ("Incorrect input")

Number a = 3
Number b = 4
a+b = 7
Do you want to add up two numbers (yes / no)
	yes
Number a = 5
Number b = 6
a+b = 11
Do you want to add up two numbers (yes / no)
	YES
Incorrect input
Do you want to add up two numbers (yes / no)
	yes
Number a = 6
Number b = 7
a+b = 13
Do you want to add up two numbers (yes / no)
	no

### Ex. 2.2
Write a while loop that displays the following set of numbers: 0, 10, 20, 30, 40, … 90, 100

In [9]:
i = 0
while i <= 100:
  print (i)
  i += 10

0
10
20
30
40
50
60
70
80
90
100

###Ex. 2.3

Running on a treadmill you burn 4.2 calories per minute. Write a program that uses a loop to display the number of calories burned after 10, 15, 20, 25, and 30 minutes.

In [10]:
i = 10
while i <= 30:
  print ("Calories burned at", i, "minutes:", i*4.2)
  i += 5

Calories burned at 10 minutes: 42.0
Calories burned at 15 minutes: 63.0
Calories burned at 20 minutes: 84.0
Calories burned at 25 minutes: 105.0
Calories burned at 30 minutes: 126.0

###Ex. 2.4

At one college, the tuition for a full‐time student is $8000 per semester. It has been announced that the tuition will increase by 3 percent each year for the next five years. Write a program with a loop that displays the projected semester tuition amount for the next 5 years.

In [11]:
year = 1
current_tuition = 8000
while year <= 5:
  print ("Year", year, "Tuition =", round(current_tuition, 2))
  current_tuition = current_tuition+current_tuition*0.03
  year += 1

Year 1 Tuition = 8000
Year 2 Tuition = 8240.0
Year 3 Tuition = 8487.2
Year 4 Tuition = 8741.82
Year 5 Tuition = 9004.07

###Ex. 2.5

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. Note : Use `continue` statement.

In [12]:
# version 1

i = 0
while i <= 6:
  if (i != 3) and (i != 6):   # try to substitute OR with AND
                              # can you explain the loop output? 
    print (i)
  i += 1

0
1
2
4
5

In [13]:
# version 2

i = 0
print (i)
while i <= 6:
  if (i % 3 != 0) :
    print (i)
  i += 1

0
1
2
4
5

###Ex. 2.6

Write a Python program which iterates the integers from 2 to 15. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [14]:
i = 2
while i <= 15:
  if (i%3==0) and (i%5==0):   # What happens if you change the order of the
                              # conditions in the if..elif..else statement 
    print ("FizzBuzz")
  elif (i%3==0):
    print ("Fizz")
  elif (i%5==0):
    print ("Buzz")
  else:
    print (i)
  i += 1

2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

###Ex. 2.7

Write a program that determines which of the numbers from 3 till 32 are prime. Use a nested loop and the loop from the is_prime(n) function (previous class). Hint: nested loops.

In [52]:
# what is a prime number: https://en.wikipedia.org/wiki/Prime_number

# Solution is from 
# https://www.geeksforgeeks.org/python-program-to-check-whether-a-number-is-prime-or-not/

# Python program to check if  
# given number is prime or not 
  
num = 13
  
# If given number is greater than 1 
if num > 1: 
      
   # Iterate from 2 to num / 2  
   for i in range(2, num): 
         
       # If num is divisible by any number between  
       # 2 and num / 2, it is not prime  
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else: 
       print(num, "is a prime number") 
  
else: 
   print(num, "is not a prime number")

13 is a prime number

In [15]:
# re-write the above solution with WHILE loop instead of FOR

num = 13
  
# If given number is greater than 1 
if num > 1: 
      
   # Iterate from 2 to num / 2  
  i = 2
  while i <= num/2: 
         
       # If num is divisible by any number between  
       # 2 and num / 2, it is not prime  
    if (num % i) == 0: 
      print(num, "is not a prime number") 
      break
    i += 1

  if (i > num/2):
      print(num, "is a prime number") 
    
  
else: 
  print(num, "is not a prime number")

13 is a prime number

In [61]:
# simplified version of the above code (we know that n >= 3)

num = 17

# Iterate from 2 to num / 2  
i = 2
while i <= num/2: 
         
       # If num is divisible by any number between  
       # 2 and num / 2, it is not prime  
  if (num % i) == 0: 
    print(num, "is not a prime number") 
    break
  i += 1

if (i > num/2):
    print(num, "is a prime number")

17 is a prime number

Now, there are two options: 

1. create a fuction that checks if an input number is a prime or not
2. put another loop around the solution above

In [16]:
# Version 1

def is_prime(n):
  i = 2
  while i <= n/2: 
         
       # If n is divisible by any number between  
       # 2 and n / 2, it is not prime  
    if (n % i) == 0: 
      return (False)
    i += 1

  return (True)

In [17]:
num = 3
while num <=32:
  print(num,"is a prime number:",is_prime(num))
  num += 1

3 is a prime number: True
4 is a prime number: False
5 is a prime number: True
6 is a prime number: False
7 is a prime number: True
8 is a prime number: False
9 is a prime number: False
10 is a prime number: False
11 is a prime number: True
12 is a prime number: False
13 is a prime number: True
14 is a prime number: False
15 is a prime number: False
16 is a prime number: False
17 is a prime number: True
18 is a prime number: False
19 is a prime number: True
20 is a prime number: False
21 is a prime number: False
22 is a prime number: False
23 is a prime number: True
24 is a prime number: False
25 is a prime number: False
26 is a prime number: False
27 is a prime number: False
28 is a prime number: False
29 is a prime number: True
30 is a prime number: False
31 is a prime number: True
32 is a prime number: False

In [18]:
# Version 2

num = 3
while num <=32:
  i = 2
  while i <= num/2: 
         
       # If n is divisible by any number between  
       # 2 and n / 2, it is not prime  
    if (num % i) == 0: 
      print(num, "is NOT a prime number") 
      break
    i += 1

  if (i > num/2):
    print(num, "is a prime number") 
  
  num += 1

3 is a prime number
4 is NOT a prime number
5 is a prime number
6 is NOT a prime number
7 is a prime number
8 is NOT a prime number
9 is NOT a prime number
10 is NOT a prime number
11 is a prime number
12 is NOT a prime number
13 is a prime number
14 is NOT a prime number
15 is NOT a prime number
16 is NOT a prime number
17 is a prime number
18 is NOT a prime number
19 is a prime number
20 is NOT a prime number
21 is NOT a prime number
22 is NOT a prime number
23 is a prime number
24 is NOT a prime number
25 is NOT a prime number
26 is NOT a prime number
27 is NOT a prime number
28 is NOT a prime number
29 is a prime number
30 is NOT a prime number
31 is a prime number
32 is NOT a prime number